<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>Afrikaans-Svenska</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.dictionary.quick_afrikaan-svenska</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Afrikaans-Svenska</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSBuildToolVersion</key>
	<integer>2</integer>
	<key>DCSDictionaryCSS</key>
	<string>DefaultStyle.css</string>
	<key>DCSDictionaryCopyright</key>
	<string>GNU General Public License</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>stardict</string>
	<key>IDXDictionaryIndexes</key>
	<array>
		<dict>
			<key>IDXIndexAccessMethod</key>
			<string>com.apple.TrieAccessMethod</string>
			<key>IDXIndexBigEndian</key>
			<false/>
			<key>IDXIndexDataFields</key>
			<dict>
				<key>IDXExternalDataFields</key>
				<array>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSExternalBodyID</string>
						<key>IDXDataSize</key>
						<integer>4</integer>
						<key>IDXIndexName</key>
						<string>DCSBodyDataIndex</string>
					</dict>
				</array>
				<key>IDXFixedDataFields</key>
				<array>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSPrivateFlag</string>
						<key>IDXDataSize</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>IDXVariableDataFields</key>
				<array>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSKeyword</string>
						<key>IDXDataSizeLength</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSHeadword</string>
						<key>IDXDataSizeLength</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSEntryTitle</string>
						<key>IDXDataSizeLength</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSAnchor</string>
						<key>IDXDataSizeLength</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSYomiWord</string>
						<key>IDXDataSizeLength</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<key>IDXIndexDataSizeLength</key>
			<integer>2</integer>
			<key>IDXIndexKeyMatchingMethods</key>
			<array>
				<string>IDXExactMatch</string>
				<string>IDXPrefixMatch</string>
				<string>IDXCommonPrefixMatch</string>
				<string>IDXWildcardMatch</string>
				<string>IDXAllMatch</string>
			</array>
			<key>IDXIndexName</key>
			<string>DCSKeywordIndex</string>
			<key>IDXIndexPath</key>
			<string>KeyText.index</string>
			<key>IDXIndexSupportDataID</key>
			<false/>
			<key>IDXIndexWritable</key>
			<false/>
			<key>TrieAuxiliaryDataOptions</key>
			<dict>
				<key>IDXIndexPath</key>
				<string>KeyText.data</string>
			</dict>
		</dict>
		<dict>
			<key>IDXIndexAccessMethod</key>
			<string>com.apple.TrieAccessMethod</string>
			<key>IDXIndexBigEndian</key>
			<false/>
			<key>IDXIndexDataFields</key>
			<dict>
				<key>IDXExternalDataFields</key>
				<array>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSExternalBodyID</string>
						<key>IDXDataSize</key>
						<integer>4</integer>
						<key>IDXIndexName</key>
						<string>DCSBodyDataIndex</string>
					</dict>
				</array>
			</dict>
			<key>IDXIndexDataSizeLength</key>
			<integer>2</integer>
			<key>IDXIndexKeyMatchingMethods</key>
			<array>
				<string>IDXExactMatch</string>
			</array>
			<key>IDXIndexName</key>
			<string>DCSReferenceIndex</string>
			<key>IDXIndexPath</key>
			<string>EntryID.index</string>
			<key>IDXIndexSupportDataID</key>
			<false/>
			<key>IDXIndexWritable</key>
			<false/>
			<key>TrieAuxiliaryDataOptions</key>
			<dict>
				<key>IDXIndexPath</key>
				<string>EntryID.data</string>
			</dict>
		</dict>
		<dict>
			<key>HeapDataCompressionType</key>
			<integer>1</integer>
			<key>IDXIndexAccessMethod</key>
			<string>com.apple.HeapAccessMethod</string>
			<key>IDXIndexBigEndian</key>
			<false/>
			<key>IDXIndexDataFields</key>
			<dict>
				<key>IDXVariableDataFields</key>
				<array>
					<dict>
						<key>IDXDataFieldName</key>
						<string>DCSBodyData</string>
						<key>IDXDataSizeLength</key>
						<integer>4</integer>
					</dict>
				</array>
			</dict>
			<key>IDXIndexName</key>
			<string>DCSBodyDataIndex</string>
			<key>IDXIndexPath</key>
			<string>Body.data</string>
			<key>IDXIndexSupportDataID</key>
			<true/>
			<key>IDXIndexWritable</key>
			<false/>
		</dict>
	</array>
	<key>IDXDictionaryVersion</key>
	<integer>1</integer>
</dict>
</plist>
